.ChartContainer {
  width: 96%;
  height: 220px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.Chart-title {
  margin-left: 20px;
  font-weight: 500;
}
